@helper ActionEdit(object id, string title)
{
    <a href="#@id" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Chỉnh sửa: @title" data-event="edit" title="Chỉnh sửa: @title"><i class="fa fa-edit" style="color: #04A827;"></i></a>
}

@helper ActionEditNeww(object id, string title)
{
    <a href="#@id" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="@title" data-event="edit" title="Chỉnh sửa: @title"><i class="fa fa-edit" style="color: #04A827;"></i></a>
}
  
@helper ActionEditGroup(object id, string title)
{
    <a href="#@id" class="btn btn-sm btn-default" data-event="edit_group" title="Chỉnh sửa nhóm: @title"><i class="fa fa-edit" style="color: #04A827;"></i></a> 
}

@helper ActionView(object id, string title)
{
    <a href="#@id" class="btn btn-sm btn-default" data-event="view" title="Xem nhanh: @title"><i class="fa fa-eye"></i></a>
}
@helper ActionView(object id, string title, string Class)
{
    <a href="#@id" class="" data-event="@Class" title="Xem chi tiết: @title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}
@helper ActionViewModule(object id, string title)
{
    <a href="#@id" data-event="edit"  title="Những Module quản lý: @title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper ActionViewOrder(string urlDetail, string title)
{
    <a href="@urlDetail" title="Xem chi tiết đơn hàng: @title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}
@helper ActionViewGroup(object id, string title)
{
    <a href="#@id" class=""  data-event="view_group" title="Xem chi tiết nhóm: @title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}
@helper ActionDelete(object id, string title)
{ 
    <a href="#@id" class="btn btn-sm btn-default" data-event="delete" title="Xóa: @title"><i class="fa fa-trash-o" style="color: red;"></i></a> 
}
@helper ActionDeleteGroup(object id, string title)
{
    <a href="#@id" class=""  data-event="delete_group" title="Xóa nhóm: @title">
        <img src="/Content/Admin/images/gridview/delete.gif" border="0" /></a>
}
@helper ActionSort(object id, string title)
{ 
    <a href="#@id" class="" data-event="sort" title="Sắp xếp: @title" >
        <img src="/Content/Admin/images/gridview/sort.gif" border="0" /></a>
}
@helper ActionSortGroup(object id, string title)
{
    <a href="#@id" class=""  data-event="sort_group" title="Sắp xếp nhóm: @title" >
        <img src="/Content/Admin/images/gridview/sort.gif" border="0" /></a>
}
@helper ActionAdd(object id, string title)
{
    <a href="#@id" class=""  data-event="addNoD" title="Chỉnh sửa: @title">
        <img src="/Content/Admin/images/gridview/add.gif" border="0" /></a>
}
@helper ActionAddGroup(object id, string title)
{
    <a href="#@id" class="" data-event="add_group" title="Thêm mới cho nhóm: @title">
        <img src="/Content/Admin/images/gridview/add.gif" border="0" /></a>
}
@helper ActionDownload(string fileUrl, string title)
{
    <a href="@fileUrl" class="" data-event="download" title="Tài file : @title" >
        <img src="/Content/Admin/images/gridview/download.gif" border="0" /></a>
}
@helper ActionActive(object id, string title, bool? status)
{
    if (status == false)
    {
        <a href="#@id" class="btn btn-sm btn-default" data-event="active" title="Duyệt: @title">
            <i class="fa fa-check-square-o"></i>
        </a>
    }
}
@helper ActionAssign(object id)
{
    <a href="#@id" class="" data-event="assign" title="Gán: @id">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper ActionHideGroup(object id, string title)
{
    <a href="#@id" class="" data-event="hide_group" title="Ẩn nhóm: @title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
}
@helper ActionShow(object id, string title, bool? isShow)
{
    if (isShow == true)
    {
    <a href="#@id" data-event="hide" title="Ẩn: @title"><i class="fa fa-check text-success"></i></a>
    }
    else
    {
    <a href="#@id" data-event="show" title="Hiển thị: @title"><i class="fa fa-times text-danger text"></i></a>
    }
}
@helper ActionShowGroup(object id, string title)
{
    <a href="#@id" class="" data-event="show_group" title="Hiển thị nhóm: @title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper DisplayShow(string title, bool status)
{
    if (status)
    { 
    <i class="fa fa-check text-success" title="Đang đượcc kích hoạt"></i>
    }
    else
    { 
    <i class="fa fa-times text-danger text" title="Đang ẩn"></i> 
    }
}
@helper DisplayShowStrike(string title, bool isShow)
{
    if (isShow)
    {
    @title
    }
    else
    {
    <strike>@title</strike>
    }
}
@helper ActionHistory(object id, string title)
{
    <a href="#@id" class="" data-event="history" title="Xem lịch sử: @title">
        <img src="/Content/Admin/images/gridview/history-icon.png" border="0" /></a>
}
@helper ActionProductDiscount(object id, string title, string url)
{
    <a href="#@id" class="" data-event="productofdiscount" title="Sản phẩm của giảm giá: @title" data-url="@url">
        <img src="/Content/Admin/images/gridview/discount-product-icon.png" border="0" />
    </a>
}
@helper RoleModule(object id, string title)
{
    <a href="#@id" class="" data-event="RoleModule" title="Những Module quản lý: @title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper ActionRoleA(object id, string title)
{
    <a href="#@id" class="" data-event="ActionRoleA" title="Gán tính năng cho: @title">
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}
@helper ActionPoint(object id, string title)
{
    <a href="#@id" class="" data-event="point" title="Xem điểm khách hàng: @title">
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}
@helper ActionProductRating(object id, string title)
{
    <a href="#@id" class="" data-event="rating" title="Đánh giá sản phẩm: @title" >
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}