@model FDI.Simple.CustomerItem
@{    
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width: 150px;">
                <label>@Resources.CSResourceString.Customer_TypeName</label>
            </td>
            <td>
                @Model.CustomerType.Name
            </td>
        </tr>
        
        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_FirstName</label>
            </td>
            <td>
                @Model.FirstName
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_LastName</label>
            </td>
            <td>
                @Model.LastName
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_UserName</label>
            </td>
            <td>
                @Model.UserName
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Email</label>
            </td>
            <td>
                @Model.Email
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Gender</label>
            </td>
            <td>
                @(Model.Gender.HasValue ? Model.Gender.Value ?"Nam":"Nữ" : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_BirthDay</label>
            </td>
            <td>
                @(Model.Birthday.HasValue ? Model.Birthday.Value.ToString("dd/MM/yyyy") : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Mobile</label>
            </td>
            <td>
                @Model.Mobile
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_IpLastAddress</label>
            </td>
            <td>
                @Model.LastIpAddress
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_MACAddress</label>
            </td>
            <td>
                @Model.MacAddress
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_CreateDate</label>
            </td>
            <td>
                @(Model.CreatedOnUtc.HasValue ? Model.CreatedOnUtc.Value.ToString("dd/MM/yyyy") : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_LastLoginDate</label>
            </td>
            <td>
                @(Model.LastLoginDateUtc.HasValue ? Model.LastLoginDateUtc.Value.ToString("dd/MM/yyyy") : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_LastActivityDate</label>
            </td>
            <td>
                @(Model.LastActivityDateUtc.HasValue ? Model.LastActivityDateUtc.Value.ToString("dd/MM/yyyy") : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_BillingAddress</label>
            </td>
            <td>
                @Model.BillingAddress
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_ShippingAddress</label>
            </td>
            <td>
                @Model.ShippingAddress
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Avatar</label>
            </td>
            <td>
                @Gallery.DisplayImage(Model.Avatar.Url, 120)
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_PaymentMethod</label>
            </td>
            <td>
                @*@Model.PaymentMethod.Name*@
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_District</label>
            </td>
            <td>
                @(Model.District != null ? Model.District.Name : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_City</label>
            </td>
            <td>
                @(Model.City != null ? Model.City.Name : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Country</label>
            </td>
            <td>
                @(Model.Country != null ? Model.Country.Name : "")
            </td>
        </tr>
        
        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Device</label>
            </td>
            <td>
                @Model.Device.Name
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Active</label>
            </td>
            <td>
                @(Model.IsActive.HasValue ? Model.IsActive.Value ?"Đã kích hoạt":"Chưa kích hoạt" : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_Delete</label>
            </td>
            <td>
                @Grid.DisplayShow(Model.Fullname, Model.IsDelete.Value)
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_IsReceiveEmail</label>
            </td>
            <td>
                @(Model.IsReceiveEmail.HasValue ? Model.IsReceiveEmail.Value ?"Có":"Không" : "")
            </td>
        </tr>

        <tr>
            <td>
                <label>@Resources.CSResourceString.Customer_IsReceiveSMS</label>
            </td>
            <td>
                @(Model.IsReceiveSms.HasValue ? Model.IsReceiveSms.Value ?"Có":"Không" : "")
            </td>
        </tr>
        
    </table>
</fieldset>
