@model FDI.Simple.ModelCustomerItem

@{
    ViewBag.Title = "ListItems";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<section id="mygird" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th><a href="#Field=ID">ID<span /></a></th>
                        <th><a href="#Field=Fullname">Khách hàng<span /></a></th>
                        <th><a href="#Field=Email">Email<span /></a></th>
                        <th><a href="#Field=Mobile">Số ĐT<span /></a></th>
                        <th><a href="#Field=CreatedOnUtc">Ngày đăng ký<span /></a></th>
                        <th><a href="#Field=IsActive">Kích hoạt<span /></a></th>
                        <th colspan="2" style="width: 12%;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.ListItem)
                        {
                        <tr title="@item.Title">
                            <td class="act_roles">
                                <input type="checkbox" value="@item.ID" class="check" >
                            </td>
                            <td>@item.ID</td>

                            <td>@Grid.DisplayShowStrike(item.Fullname, item.IsActive == true)</td>
                            <td>@item.Email</td>
                            <td>@item.Mobile</td>
                            <td>@(item.CreatedOnUtc.HasValue ? item.CreatedOnUtc.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td>
                                  @Grid.ActionShow(item.ID, item.Fullname, item.IsActive) 
                            </td>
                            <td class="btn-group">
                                @Grid.ActionView(item.ID, item.Title)
                                @Grid.ActionEdit(item.ID, item.Title)
                                @Grid.ActionDelete(item.ID, item.Title)
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(Model.PageHtml)
        </div>
    </footer>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#mygird');
    });
</script>
